In [17]:
import pandas as pd
import csv

ETF_list = pd.read_csv(
    "./data/DUST.csv",
    usecols=['Date'],
    parse_dates=True)

def add_pd(ETF_name):
    path = './data/'+ETF_name+'.csv'
    ETF_list[ETF_name] = pd.read_csv(
    filepath_or_buffer = path,
    usecols = ['Adj Close'],
    parse_dates=True
    )
    
add_pd('CUT')
add_pd('DUST')

ETF_list

           Date        CUT         DUST
0    2015-12-31  21.962339   823.670959
1    2016-01-04  21.617577   755.364075
2    2016-01-05  21.468489   764.338745
3    2016-01-06  21.123726   725.448669
4    2016-01-07  20.508743   631.215088
5    2016-01-08  20.108074   675.589600
6    2016-01-11  20.052164   756.361267
7    2016-01-12  20.136028   805.223083
8    2016-01-13  19.781944   808.214600
9    2016-01-14  19.791265   889.983398
10   2016-01-15  19.204235   900.952393
11   2016-01-19  19.176279  1019.616882
12   2016-01-20  18.766293   928.374817
13   2016-01-21  18.878109   926.879089
14   2016-01-22  19.483772   899.955261
15   2016-01-25  18.729023   829.653992
16   2016-01-26  18.961969   721.459900
17   2016-01-27  18.961969   681.572754
18   2016-01-28  18.868790   725.947266
19   2016-01-29  19.679449   677.583984
20   2016-02-01  19.567635   615.260254
21   2016-02-02  18.971287   653.153076
22   2016-02-03  19.260143   514.545044
23   2016-02-04  19.390593   431.779053
24   2016-02-05  19.017876   359.982056
25   2016-02-08  18.561298   334.553986
26   2016-02-09  18.374939   370.951050
27   2016-02-10  18.421530   348.015900
28   2016-02-11  18.123358   272.728821
29   2016-02-12  18.430847   252.286621
..          ...        ...          ...
777  2019-02-04  27.570000    18.580000
778  2019-02-05  27.850000    18.340000
779  2019-02-06  27.780001    19.209999
780  2019-02-07  27.389999    19.730000
781  2019-02-08  27.139999    18.850000
782  2019-02-11  27.120001    19.570000
783  2019-02-12  27.469999    19.590000
784  2019-02-13  27.680000    19.969999
785  2019-02-14  27.580000    19.430000
786  2019-02-15  27.750000    18.719999
787  2019-02-19  27.840000    16.900000
788  2019-02-20  28.080000    16.420000
789  2019-02-21  27.760000    17.190001
790  2019-02-22  27.980000    17.110001
791  2019-02-25  28.260000    17.740000
792  2019-02-26  28.270000    17.820000
793  2019-02-27  28.040001    18.719999
794  2019-02-28  27.480000    19.000000
795  2019-03-01  27.760000    20.309999
796  2019-03-04  27.850000    19.990000
797  2019-03-05  27.770000    19.709999
798  2019-03-06  27.620001    20.820000
799  2019-03-07  27.139999    20.120001
800  2019-03-08  27.080000    18.540001
801  2019-03-11  27.530001    18.660000
802  2019-03-12  27.500000    17.700001
803  2019-03-13  27.540001    17.350000
804  2019-03-14  27.430000    18.680000
805  2019-03-15  27.450001    18.600000
806  2019-03-18  27.730000    19.200001

[807 rows x 3 columns]